* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 

.state {
  max-width: 700px;
  margin: auto;
  text-align: center;
  background: #0f0f43;
  color: #fff;
  height: 70vh;
  padding-top: 150px;
}

.state--value {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} 

.state--value h1 {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
} 
 */


.counter {
  max-width: 700px;
  margin: auto;
  text-align: center;
  background: #0f0f43;
  color: #fff;
  height: 70vh;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter > * {
  margin: 0 11px;
}

.counter button {
  background: #8f8f8f;
  border: none;
  height: 50px;
  width: 50px;
  font-size: 30px;
  line-height: 1em;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.counter h1 {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}



/* contact 
.cntainer {
  max-width: 360px;
  margin: auto;
  border: 1px solid #ddd;
  padding: 50px;
  text-align: center;
}

img.profile-pic {
  max-width: 200px;
}

img.star {
  width: 30px;
  height: 30px;
  display: block;
  margin: 12px auto;
}
 contact */


